body{
background-color:lightgreen;
}


h1{
font-size: 60px; 
font-weight: bold;   
margin: 40px;
border: 2px solid #000000;
background-color: lightgreen;
border-radius: 8px;
}

img {
width: 1250px;
height: 200px;
border-radius:8px;
display: block;
margin:auto;
}


.btn-panier {
    display: inline-block;
    padding: 10px 25px;
    background-color: #ffffff;
    border: 2px solid #000000;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    border-radius: 6px;
    font-weight: bold;
    margin: 100px;
}

.banner {
    background-color: #4f7d25;   
    color: #ffffff;
    padding: 20px 0 40px;
}


.banner-promo {
    background-color: #ffffff;
    color: #c5213b;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    padding: 15px 10px;
    margin: 100px;
}

.banner-infos {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;          
    gap: 40px;
}


.info {
    text-align: center;
    max-width: 250px;
    font-size: 16px;
}


.info-icon {
    font-size: 40px;
    margin-bottom: 10px;
}

.btn-profil {
    display: inline-block;
    padding: 10px 25px;
    background-color: #ffffff;
    border: 2px solid #000000;
    text-decoration: none;
    color: #000;
    font-size: 20px;
    border-radius: 6px;
    font-weight: bold;
}



.produits {
    padding: 40px 40px 60px;
    background-color: #f5f5f5;
}

.produits h2 {
    text-align: center;
    margin-bottom: 30px;
}


.colonnes-produits {
    display: flex;
    gap: 40px;
    justify-content: center;
    align-items: flex-start;
}


.categorie {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    min-width: 320px;
}

.categorie h3 {
    text-align: center;
    margin-top: 0;
    margin-bottom: 15px;
}


.table-produits {
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}

.table-produits th,
.table-produits td {
    border: 1px solid #dddddd;
    padding: 8px 10px;
    text-align: center;
}

.table-produits th {
    background-color: #e5f1d8; 
    font-weight: bold;
}
